[submodule "src/aribcaption"]
	path = src/aribcaption
	url = https://github.com/xtne6f/libaribcaption.git
[submodule "src/freetype"]
	path = src/freetype
	url = https://github.com/ubawurinna/freetype-windows-binaries.git
